<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<title>Eventos</title>
</head>

<body>
	<div th:replace="~{menu :: menu}"></div>
	<div class="container">
		<h1>Lista de Eventos</h1>

		<table>
			<thead>
				<tr>
					<th>Id</th>
					<th>Nome</th>
					<th>Local</th>
					<th>Data</th>
					<th>Horario</th>
				</tr>
			</thead>

			<body>
				<tr th:each="e : ${eventos}">
					<td th:text="${e.id}">1</td>
					<td th:text="${e.nome}">Aniversario de Lindi</td>
					<td th:text="${e.local}">Clube</td>
					<td th:text="${e.data}">31/01/2005</td>
					<td th:text="${e.horario}">19:00</td>
				</tr>
			</body>
		</table>
</body>

</html>